body{
    background-color: bisque;
}
#title{
    text-align: center;
}
#text{
    background-color: rgba(00, 00, 00, .75);
    color:rgb(245, 237, 228);
    border-radius: 1rem;
    padding: 1rem;
}
.image {
    display:block;
    max-width: 100%;
    height: auto;
    align-self: center;

    border-radius: 1rem;
}